<%# app/views/articles/components/_one-article-card.html.erb %>
<%# la card responsive d'un article de blog dans l'index %>

<article class="mx-auto w-4/5 md:w-1/2 my-4 relative z-0 overflow-hidden rounded-lg shadow transition hover:scale-105 hover:duration-150 ">

  <%= link_to article_path(article) do %>


    <% if article.image.attached? %>
      <%= cl_image_tag article.image.key, alt: article.title, class: "absolute z-0 inset-0 h-full w-full object-cover" %>
    <% else %>
      <%= image_tag 'quartz-agency-logo.webp', alt: article.title, class: "absolute z-0 inset-0 h-full w-full object-cover" %>
    <% end %>



    <div class="relative bg-gradient-to-t from-gray-900/50 to-gray-900/25 pt-32 sm:pt-48 lg:pt-64">
      <div class="p-4 sm:p-6">

        <%= time_tag article.published_at, class: "block text-xs text-white/90" %>

        <h2 class="mt-0.5 text-lg text-white">
          <%= article.title %>
        </h2>

        <p class="mt-2 line-clamp-3 text-sm/relaxed text-white/95">
          <%= article.summary %>
        </p>

      </div>
    </div>

  <% end %>

</article>
