<h1>Formulaire de contact envoyé depuis quartz-agency.fr</h1>
<p><%= @contact_form[:first_name] %></p>
<p><%= @contact_form[:last_name] %></p>
<p><%= @contact_form[:company] %></p>
<p><%= @contact_form[:email] %></p>
<p><%= @contact_form[:phone] %></p>
<br>
<p>Message :</p>
<p><%= @contact_form[:message] %></p>
