<%# NAVBAR %>

<header class="bg-gray-100 bg-opacity-20 backdrop-filter backdrop-blur-sm border border-opacity-30 shadow-xl  px-20 py-4 flex justify-between sticky top-0">

  <div class="logo">
    <%= link_to root_path, class: "flex justify-center gap-2 items-center" do %>
      <%= image_tag "quartz-agency-logo.webp", alt: "Logo", class: "h-12" %>
      <span class="text-dark">Quartz Agency</span>
    <% end %>
  </div>

  <nav>
    <ul class="h-full flex justify-start items-center space-x-4 text-xl text-dark">
      <li>
        <%= link_to 'Blog', articles_path, class: 'px-4 inline-block hover:scale-105 duration-150' %>
      </li>
      <li>
        <%= link_to 'Nous Contacter', "#", class: 'px-4 inline-block hover:scale-105 duration-150' %>
      </li>

      <% if current_admin %>
        <li>
          <%# ADMIN %>
          <%= link_to 'Ecrire un Article', new_admin_article_path, class: 'px-4 inline-block hover:scale-105 duration-150' %>
        </li>
        <li>
          <%# ADMIN %>
          <%= link_to 'Se Déconnecter',  destroy_admin_session_path, data: { turbo_method: :delete }, class: 'px-4 inline-block hover:scale-105 duration-150' %>
        </li>
      <% end %>



    </ul>
  </nav>

</header>
